{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body class="p-0">

        <nav class="navbar navbar-expand-lg navbar-light text-white mb-4" style="background-color: blue;">
            <a class="navbar-brand text-white" href="{% url 'index' %}"><h2>Auctions</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    {% if user.is_authenticated %}
                    <!-- EDITED CODE -->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'categories' %}">Categories</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'create' %}">Create Listing</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    Signed in as <strong class="ml-1"> {{ user.username }}</strong>.
                    {% else %}
                    Not signed in.
                    {% endif %}
                </span>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>
