{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="col-12 container">
                    <div class="alert bg-{{ message.tags }} mb-5 py-4" role="alert">
                        <div class="d-flex">
                            <div class="px-3">
                
                                <h4>{{ message }}</h4>
                                <!--
                                    <h5 class="alert-heading">Thankyou your data has been saved!</h5>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <!--  Announcing the winner -->
        
        {% if not is_active %}
            <div class="col-12 container">
                <div class="alert bg-success mb-5 py-4" role="alert">
                    <div class="d-flex">
                        <div class="px-3">
                            Congratulations! <span class="text-uppercase font-weight-bold">{{ highest_bider.user.username }}</span> for biding <span class="font-weight-bold">${{ highest_bider.bid_amount }}</span>, It's the highest Bid. You have won the Auction.
                        </div>
                    </div>
                </div>
            </div>
        {% endif %} 
            



    <div class='container-fluid'>
        <div class="card mx-auto col-md-8 col-10 mt-5">
            
            {% if is_owner and is_active %}
                <a class="btn btn-outline-primary btn-sm mt-2" type="button" href="{% url 'close_listing' id=product.id %}">close the Listing</a>
            {% elif not is_active %}
                <div class="text-center">
                    <h5>This listing is now closed</h5>
                </div>
            {% endif %}
                
            <h5 class="card-title font-weight-bold text-center mt-4">{{ product.title }}</h5>
            <img class='mx-auto img-thumbnail' src="{{ product.image_url }}" width="auto" height="auto" />
            <div class="card-body text-center mx-auto">
                <div class='cvp'>
                    <p class="card-text">   
                        {{ product.description }}
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit exercitationem tempora dolorum ratione eaque magni, nulla culpa voluptates quae. Veniam, nobis. A ad distinctio perferendis rerum quo totam, eligendi reiciendis.
                    </p> 
                    <div class="price">
                        <span>Base Price:</span> ${{ product.base_price }}
                    </div>
                </div>
                <div>
                    <form action="{% url 'place_bid' id=product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <input class="form-control" type="text" name="bid" placeholder="Place Your Bid">
                        </div>
                        <input class="btn btn-primary mb-2" type="submit" value="Place Bid">
                    </form>
                </div>
                {% if user.is_authenticated %}
                    {% if not watchlist_object %}
                    <a class="btn btn-outline-primary btn-sm mt-2" type="button" href="{% url 'add_To_watchlist' id=product.id %}">Add to
                        watchlist</a>
                    {% else %}
                    <a class="btn btn-outline-primary btn-sm mt-2" type="button"
                        href="{% url 'remove_from_watchlist' id=product.id %}">Remmove from watchlist</a>
                    {% endif %}
                {% endif %}
            </div>
            <span class="">{{ product.publish_date | date:"l d M Y" }}</span>
        </div>
    </div>



    <!-- COMMENT SECTION -->
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-8">
                <div class="coment-bottom bg-white p-2 px-4">

                    <!-- Comment Form -->
                    <form action="{% url 'detail' id=product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="img-fluid img-responsive rounded-circle mr-2"
                                src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" width="38">
                            <input type="text" class="form-control mr-3" name="comment" placeholder="Add comment">
                            <button class="btn btn-primary" type="submit">Comment</button>
                        </div>
                    </form>
                    
                    <!-- comments -->
                    
                    {% for commnt in comments  %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center mt-1"> 
                                    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" width="30" class="user-img rounded-circle mr-2"> 
                                    <span>
                                        <small class="font-weight-bold text-primary">{{ commnt.user.username }}</small> 
                                        <small class="font-weight-bold">{{ commnt.comment }}</small>
                                    </span> 
                                </div> 
                                <small>{{ commnt.commented_date }}</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <div class="reply px-4"> 
                                    <small>Remove</small> 
                                    <span class="dots"></span> 
                                    <small>Reply</small> 
                                    <span class="dots"></span> <small>Translate</small> 
                                </div>
                                <div class="icons align-items-center"> 
                                    <i class="fa fa-star text-warning"></i> 
                                    <i class="fa fa-check-circle-o check-icon"></i> 
                                </div>
                            </div>


                        <!--
                            <div class="commented-section mt-2">
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5> {{ commnt.user.username }} </h5>
                                <span class="mb-1 ml-2"> {{ commnt.commented_date }} </span>
                            </div>
                            <div class="comment-text-sm">
                                <span>
                                    {{ commnt.comment }}
                                </span>
                            </div>
                            <div class="reply-section">
                                <div class="d-flex flex-row align-items-center voting-icons">
                                    <h6 class="ml-2 mt-1" id="reply">Reply</h6>
                                </div>
                            </div>
                        </div>
                        -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Bid Log -->
    <div class="container mt-5">
        <h1>Bid Log</h1>
            
        
        <table class="table table-borderless main">
            <thead>
                <tr class="head">
                    <th scope="col">Placed on</th>
                    <th scope="col">User</th>
                    <th scope="col">Bid Amount</th>
                </tr>
            </thead>
            {% for bid in prev_bids %}
                <tbody>
                    <tr class="rounded bg-white">
                        <td>{{ bid.bid_date }}</td>
                        <td class="align-items-center">
                            <span class="ml-2">{{ bid.user.username }}</span>
                        </td>
                        <td>${{ bid.bid_amount }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}