{% extends "auctions/layout.html" %}

{% block body %}

{% if not watchlist %}
    <h1 class="justify-content-center row">Your Watchlist is empty!</h1>    
{% endif %}
    
{% for list in watchlist %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">

                <div class="col-md-3 mt-1">
                    <img class="img-fluid img-responsive rounded product-image" src="{{ list.list_id.image_url }}">
                </div>

                <div class="col-md-6 mt-1">
                    <h5>{{ list.list_id.title }}</h5>
                    <br>
                    <p class="text-justify para mb-0">
                        {{ list.list_id.description }}
                    </p>
                </div>

                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{list.list_id.base_price}}</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4">
                        <a class="btn btn-primary btn-sm" type="button" href="{% url 'detail' id=list.list_id.id %}">Details</a>
                        <a class="btn btn-outline-primary btn-sm mt-2" type="button" href="{% url 'remove_from_watchlist' id=list.list_id.id %}">Remmove from watchlist</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}